.steptsorders{
    width: 100%;
    display: flex;
    margin-top: 1rem;
    text-align: center;
}

.steptsorders .marked{
    width: 100%;
    cursor: pointer;
    margin-top: 1rem;
    color: green;
    font-size: 1.1rem;
    padding-bottom: 1rem;
}
.steptsorders .marked p{
    border-bottom: 2px solid rgb(97, 143, 97);
    padding: 1rem;
    margin-bottom: 1rem;

}
.steptsorders .pending p{
    border-bottom: 2px solid rgb(213, 215, 194);
    padding: 1rem;
    margin-bottom: 1rem;


}
.steptsorders .pending{
    width: 100%;
    cursor: pointer;
    margin-top: 1rem;
    color: rgb(124, 124, 119);
    font-size: 1.1rem;
    padding-bottom: 1rem;
}


@media screen and (max-width: 920px) {
    .steptsorders, .responsiveItems{
        overflow-x: scroll !important;
    }
    
}