th{
    padding: 1rem !important;
}
td{
    padding: 1rem !important;
}


    
.table{
    --data-table-library_grid-template-columns: 100px 200px 100px 100px 150px 200px 200px !important;
}

@media screen and (max-width: 920px) {
    .buttonsWithouthPadding{
        padding: .2rem !important;
    }
    
}