.background{
    text-align: center;
    margin-top: 7rem;
    padding: 2rem;
    background-size: 100%;
}

.background h1{
    font-size: 2rem;
    color: white;
}
.background p{
    color: white;
}
.background a{
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: white;
    color: #3662E3;
    margin: 5rem;
    border-radius: .3rem;
}
@media screen and (max-width: 720px) {
    .background{
        margin-top: 5rem;
    }
    
}
