.sideBar{
    display: flex;
    width: 100% !important;
}
.sideBarContainer{
    background-color: #F5F7FA;
    width: calc(100% - 220px) !important;
}

.sidebarCustomStyle{
    transition: 1s ease;
    background-color: #FFFFFF;
    width: 220px;
    min-height: 100vh;
    text-align: center;
    z-index: 110;
}
.headerSideBar{
    width: 100%;
    background-color: #FFFFFF;
    padding: 1rem;
    padding-left: 1rem;
    font-weight: 500;
    font-size: 1.2rem;
}
.sidebarCustomStyle .avatar{
    margin-top: .5rem;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(33, 33, 105);
}

.sidebarCustomStyle .title{
    margin-top: .5rem;
    color: #3662E3 !important;
    font-weight: 500;
}


.sidebarCustomStyle .list{
    cursor: pointer;
    margin-top: 1rem;
    display: flex;
    padding: .5rem;
    padding-left: 1rem;

}
.listactive{
    border-left: .3rem solid #3662E3 !important;
}

.sidebarCustomStyle .list:hover * {
    color:#3662E3;

}
.sidebarCustomStyle .list:hover .text {
    color:#3662E3;

}
.sidebarCustomStyle .list .icon{
    margin-right: .5rem;
    width: 18px !important;
    height: 18px !important;
    color: rgb(54, 53, 53);
}

.sidebarCustomStyle .list .text{
    color: rgb(54, 54, 54);
    font-size: 14px !important;
}
.sidebarCustomStyle .logout{
    cursor: pointer;
    margin-top: 1rem;
    display: flex;
    padding: .5rem;
    padding-left: 1rem;
}
.sidebarCustomStyle .logout .text{
    color: rgb(140, 56, 56);
    font-size: 14px !important;
}

.sidebarCustomStyle .logout .icon{
    margin-right: 1rem;
    color: rgb(140, 56, 56);
}

.content-frame-container{
    border-radius: .5rem;
    padding: 1rem;
    background-color: white;
    margin: 1rem;
}

@media screen and (max-width: 1120px) {
    .sideBarContainer{
        width: calc(100vw - 1rem - 1px) !important;
    }
    .sidebarCustomStyle{        
        position: fixed;
        border-right: 1px solid grey;
    }
    .responsiveButtonViewNavigation{
        display: block !important;
    }
    
  }

@media screen and (max-width: 920px) {
    .sideBarContainer{
        width: calc(100vw) !important;
    }
    .sidebarCustomStyle{        
        position: fixed;
        border-right: 1px solid grey;
    }
    .responsiveButtonViewNavigation{
        display: block !important;
    }
    
  }