.textKeyword{
    color: #3662e3;
    font-size: 1rem;
    font-weight: 700;
}
.textKeywordOcean{
    color: #0f9c89;
    font-size: 1rem;
    font-weight: 700;
}
.textKeywordOrange{
    color: #f0792b;
    font-size: 1rem;
    font-weight: 700;
}
@media screen and (max-width: 920px) {
    .imageHero1{
        right: 0rem !important;
    }
    .fz1Responsive{
        font-size: 2.8rem !important;
    }
    .centerResponsiveButton{
        margin-left: auto;
        margin-right: auto;
    }
    .mlResponsive{
        margin-left: 0rem !important;
    }
    
}
@media screen and (max-width: 920px) {
    .centerResponsive{
        text-align: center !important;
        justify-content: center !important;
    }
}