.viewitem{
    text-align: left;
    margin-right: auto;
    margin-left: auto;
    max-width: 75%;
}
.cardImage{
    background-color: white;
    display: flex;
    border-radius: .5rem;
    border: 1px solid rgba(128, 128, 128, 0.219);
    padding: 1rem
}
.cardImage img{
    cursor: pointer;
}
.cardImage img:hover{
    transition: 1s ease;
    transform: scale(1.2);
}

.whatsappItem{
    width: 100% !important;
    border: 1px solid green;
    color: green;
    background: transparent;
    border-radius: .5rem;
    padding: .5rem;
}
@media screen and (max-width: 520px) {
    .responsiveItemImage{
        width: 100% !important;
    }
    .viewitem{
        max-width: 100% !important;
        width: 100% !important;
        margin: 0px !important;
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    }
}