.configurationContent{
    border: .5rem .5rem 0rem 0rem;

}

.configurationContent .banner{
    border: .5rem .5rem 0rem 0rem;

}
.configurationContent .banner .background{
    border-radius: .5rem .5rem 0rem 0rem;
    max-width: 100%;
    display: grid;
    place-items: center;
    min-height: 200px;
    margin-top: 0rem;
    padding: 2rem;
    background-size: 100%;
    
}

.configurationContent .banner .background img{
    
}

.configurationContent .container{
    padding: 1rem;
    background-color: white;
    border-radius: 0rem 0rem .5rem .5rem;

}