.configurationContent{
    border: .5rem .5rem 0rem 0rem;

}

.configurationContent .banner{
    border: .5rem .5rem 0rem 0rem;

}
.configurationContent .banner .background{
    border-radius: .5rem .5rem 0rem 0rem;
    max-width: 100%;
    display: grid;
    place-items: center;
    min-height: 200px;
    margin-top: 0rem;
    padding: 2rem;
    background-size: 100%;
    
}

.configurationContent .banner .background img{
    
}

.configurationContent .container{
    padding: 1rem;
    background-color: white;
    border-radius: 0rem 0rem .5rem .5rem;

}
.tableConfigurationServicesHeader{
    margin-top: 1rem;
    background-color: #F5F7FA;
    border-radius: 1rem 1rem 0rem 0rem;
    padding: 1rem;   
}
.tableConfigurationServicesHeader h1{
    color: #8C95A3;
 }
.tableConfigurationServicesItem{
    background-color: #F5F7FA;
    padding: 1rem;
    padding-bottom: .5rem;
    padding-top: .2rem;
    margin-top: .5rem;
}
.tableConfigurationServicesItem p{
    min-width: max-content;
    color: #232323;
    font-weight: 500;
}

.tableConfigurationServicesItem div{
    margin-left: auto;
}


.tableConfigurationServicesItem.last{
    background-color: #F5F7FA;
    padding: 1rem;
    padding-bottom: 1rem;
    padding-top: .5rem;
    margin-top: .2rem;
    border-radius: 0rem 0rem 1rem 1rem;

}
@media screen and (max-width: 920px) {
    .tableConfigurationServicesItem p.first{
        max-width: 100px !important;
    }
}